Source: pardus-xfce-icon-theme
Section: utils
Priority: optional
Maintainer: Fatih Altun <fatih.altun@pardus.org.tr>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.1
Homepage: https://github.com/pardus/pardus-xfce-icon-theme

Package: pardus-xfce-icon-theme
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, librsvg2-common
Description: Pardus Xfce Icon Theme.
 Pardus Xfce Icon Theme for Pardus Xfce desktop environment.
Provides: pardus-icon-theme
Conflicts: pardus-icon-theme
Replaces: pardus-icon-theme
